In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("C:\\Users\\kulka\\Documents\\PDS\\Frailty Project\\Raw_data\\Frailty_Raw_Data.csv")

In [4]:
data.head()

   Height  Weight  Age  Gripstrength Frailty
0    65.8     112   30            30       N
1    71.5     136   19            31       N
2    69.4     153   45            29       N
3    68.2     142   22            28       Y
4    67.8     144   29            24       Y

In [9]:
data['Frailty'] = data['Frailty'].map({'Y': 1, 'N': 0})

In [10]:
data.head()

   Height  Weight  Age  Gripstrength  Frailty
0    65.8     112   30            30        0
1    71.5     136   19            31        0
2    69.4     153   45            29        0
3    68.2     142   22            28        1
4    67.8     144   29            24        1

In [11]:
output_csv_file = 'C:\\Users\\kulka\\Documents\\PDS\\Frailty Project\\Raw_data\\encoded_data.csv'
data.to_csv(output_csv_file, index=False)